body {
  background-color: #CECECE;
  font: 400 16px 'Muli', sans-serif !important;
}

table {
  margin-top: 10px;
  margin-bottom: 10px;
}

tr {
  background-color: #B1E5F2;
}

table, th, td {
  border: 1px solid #1C1C1C;
  border-radius: 2px;
}

.active {
  color: red;
}

.center {
  margin: auto;
  margin-top: 10px;
  width: 50%;
}

.inputElement {
  margin-right: 5px;;
}